<div class="navbar">
    <div class="navbar-brand align-item-center d-flex">
        <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
            
        </i>
        <a routerLink="login">
        <img src="./assets/images/Divine_Logo.png" class="pic"></a>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Products">
        </div>
        <span class="fa fa-search"></span>
    </div>
    <a routerLink="cart">
    <button class="fa fa-cart-plus" >
    <div class="badge">4</div>
    </button></a>
    <button class="fa fa-user"></button>
</div>
