<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="./assets/images/All Products.png">
                <h6>All Products</h6>
            </a>
        </div>

        <div class="item">
            <a>
                <img src="./assets/images/Jewelry.png">
                <h6>Jewelry</h6>
            </a>
           
        </div>

        <div class="item">
            <a>
                <img src="./assets/images/Makeup.png">
                <h6>Makeup</h6>
            </a>
            
        </div>

        <div class="item">
            <a>
                <img src="./assets/images/Clothing.png">
                <h6>Clothes</h6>
            </a>
            
        </div>
    </div>
</div>

<div class="card">
    <img src="./assets/images/1.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button routerLink="src/app/components/cart">Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/2.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Fruit Basket</h3>
    <p class="price">Small: Rs.280/-</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/3.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/4.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/5.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/6.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/7.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/8.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/9.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/10.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/11.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/12.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/13.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/14.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button>Add to Cart</button></p>
</div>

<div class="card">
    <img src="./assets/images/15.png" alt="Jain Betka" style="width:100%">
    <h3 style="margin-top: 12px;">Jain Betka Bag</h3>
    <p class="price">Rs.580/-</p>
    <p><button>Add to Cart</button></p>
</div>
