<div class="main">  	
    <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form>
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" name="txt" placeholder="User name" required="">
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="pswd" placeholder="Password" required="">
                <a routerLink="product"><button (click)="signupDone()">Sign up</button></a>&nbsp;&nbsp;&nbsp;
            </form>
        </div>

        <div class="login">
            <form>
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="pswd" placeholder="Password" required="">
                <a routerLink="product"><button #loginadata (click)="Login(true)">Login</button></a>&nbsp;&nbsp;
            </form>
        </div>
</div>
<router-outlet></router-outlet>